  .carousel-caption-custom {
    bottom: 15%;
  }
  .carousel-indicators {
    padding:4%;
    display: none;
  }

  h3 {
    font-weight: 900;
    font-size: 30px;
  }

  p {
    font-size: 20px;
    font-weight: 800;
  }

  .text img {
    border: 4px solid black;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2{
    font-size: 30px;
    margin-top: 15px;
  }



  .text {
    box-sizing: border-box;
    padding: 30px 20px 20px 20px
  }


  .button-about p {
    margin-top: 2%;
    text-align: center;
  }

  .button-about .bttn{
    padding: 2px;
    font-size: 20px;
    width: 80px;
    background-color: rgb(42, 104, 229);
    color: aliceblue;
  }

  .button-about .anchor :hover{
    background-color: rgb(51, 59, 153);
    transition: 0.6s ease-in;
  }

  .about-container{

  font-family: Open Sans;
  margin-top: 20px;
  margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    padding: 50px;
  background-color: rgba(194, 194, 194, 0.8);
  border: 2px solid black;
  border-radius: 6px;

  }

  .about{
    background-color: rgb(48, 48, 48);
  }

  .lead{
    padding-top: 15px;
  }
  .about-container h2{
    font-weight: 800;
    color: rgb(0, 0, 0);
  padding-bottom: 30px;
  }


  @media(max-width:800px) {
    .carousel-caption-custom {
      bottom: 5%;
    }

    .carousel-indicators {
      padding: 3%;
    }

    p {
      font-size: 15px;
      margin-bottom: 20px;
    }

    h2 {
      padding-top: 20px;
    }
    


  }


  h2{
    padding-top: 30px;
  }
  img{
    border: 3px solid black;
    border-radius: 10px;
  }

  .img-hover-effect {
    transition: transform 0.3s ease;
  }

  .img-hover-effect:hover {
    transform: translateY(-10px);
  }
  .row{
    padding-top: 80px;
    padding-left: 10%;
    padding-bottom: 40px;

  }

  .carousel-control-prev{
  top: 400px;
  }


  body{
    background-color: white;
  }