footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}


.all-links a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

#menu-toggler {
  display: none;
}

#hamburger-btn {
  display: none;
}